@import './button.common.css';

:host button {
  position: relative;

  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #2196f3;
  color: #2196f3;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover,
button:focus {
  background-color: #e3f2fd;
}
button:active {
  background-color: #bbdefb;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
