@import './button.common.css';

:host button {
  position: relative;

  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #2196f3;
  color: #2196f3;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover,
button:focus {
  background-color: #e3f2fd;
}
button:active {
  background-color: #bbdefb;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ripple-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;

  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
